<!DOCTYPE html>
<html lang="en">
  {% load static %}
  {% load humanize %} 
  <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="shortcut icon" href="{% static "images/favicon.ico" %}"
      type="image/x-icon">
      <title>Instagram</title>
      <link rel="stylesheet" href="{% static "sass/vender/bootstrap.css" %}">
      <link rel="stylesheet" href="{% static "sass/vender/bootstrap.min.css" %}"> 
      <link rel="stylesheet" href="{% static "owlcarousel/owl.theme.default.min.css" %}">
    <link rel="stylesheet" href="{% static "owlcarousel/owl.carousel.min.css" %}"> 
    <link rel="stylesheet" href="{% static "https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.css"%}">
     <link rel="stylesheet" href="{% static "sass/main.css" %}">
    <style >
      .messages{
        overflow-y: scroll;
        height: 440px;
      }
  
      .message-form{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 8px;
    
    }
    .message-form  button{
        border: none;background-color: transparent;
    }
    .message-form button img{
        width: 25px;
        height: 25px;
        object-fit: cover;
    }
    </style>
  </head>

  <body>
    <!-- HTML -->
    <div class="post_page message_page">
         <!--***** nav menu start ****** -->
         <div class="nav_menu">
          <div class="fix_top">
              <!-- nav for big->medium screen -->
              <div class="nav">
                  <div class="logo">
                      <a href="{% url "home" %}">
                          <img class="d-block d-lg-none small-logo" src="{% static "images/instagram.png" %}" alt="logo">
                          <img class="d-none d-lg-block" src=" {% static "images/logo_menu.png" %}" alt="logo">
                      </a>
                  </div>
                  <div class="menu">
                      <ul>
                          <li>
                              <a class="active" href="{% url "home" %}">
                                  <img src=" {% static "images/accueil.png"  %}">
                                  <span class="d-none d-lg-block ">Home</span>
                              </a>
                          </li>
                          <li id="search_icon">
                              <a href="#">
                                  <img src=" {% static "images/search.png"  %}">
                                  <span class="d-none d-lg-block search">Search </span>
                              </a>
                          </li>
                          <li>
                              <a href="{% url "explore" %}">
                                  <img src=" {% static "images/compass.png"  %}">
                                  <span class="d-none d-lg-block ">Explore</span>
                              </a>
                          </li>
                          <li>
                              <a href="./reels.html">
                                  <img src=" {% static "images/video.png"  %}">
                                  <span class="d-none d-lg-block ">Reels</span>
                              </a>
                          </li>
                          <li>
                              <a href="{% url 'inbox' %}">
                                  <img src=" {% static "images/send.png"  %}">
                                  <span class="d-none d-lg-block ">
                                      Messages
                                  {% if directs_count %}
                                  <span class="badge">{{ directs_count }}</span>
                                  {% endif %}
                              </span>
                              </a>
                          </li>
                          
                          <li class="notification_icon">
                              <a href="#">
                                  <img src=" {% static "images/love.png"  %}">
                                  <span class="d-none d-lg-block ">Notifications
                                      {% if count_notifications %}
                                     <span class="badge">{{ count_notifications }}</span>
                                     {% endif %}

                                  </span>
                              </a>
                          </li>
                          <li>
                              <a href="{% url "newpost" %}" data-bs-toggle="modal" data-bs-target="#create_modal">
                                  <img src=" {% static "images/tab.png"  %}">
                                  <span class="d-none d-lg-block ">Create</span>
                              </a>

                          </li>
                          <li>
                              <a href="{% url 'profile' request.user %}">
                              {% if profile.picture %}
                                  <img class="circle story"  src="{{ profile.picture.url }}">
                                {% else %}
                                  <img class="circle story"  src="{% static "images/user.png" %}">
                                {% endif %}
                                <span class="d-none d-lg-block ">Profile</span>
                              </a>
                          </li>
                      </ul>
                  </div>
                  <div class="more">
                      <div class="btn-group dropup">
                          <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"
                              aria-expanded="false">
                              <img src="{%  static "images/menu.png"  %}">
                              <span class="d-none d-lg-block ">More</span>
                          </button>
                          <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">
                                      <span>Settings</span>
                                      <img src="./images/reglage.png">
                                  </a></li>
                              <li><a class="dropdown-item" href="#">
                                      <span>Your activity</span>
                                      <img src="./images/history.png">
                                  </a></li>
                              <li><a class="dropdown-item" href="#">
                                      <span>Saved</span>
                                      <img src="./images/save-instagram.png">
                                  </a></li>
                              <li><a class="dropdown-item" href="#">
                                      <span>Switch apperance</span>
                                      <img src="./images/moon.png">
                                  </a></li>
                              <li><a class="dropdown-item" href="#">
                                      <span>Report a problem</span>
                                      <img src="./images/problem.png">
                                  </a></li>
                              <li><a class="dropdown-item bold_border" href="#">
                                      <span>Switch accounts</span>
                                  </a></li>
                              <li><a class="dropdown-item" href="./login.html">
                                      <span>Log out</span>
                                  </a></li>
                          </ul>
                      </div>
                      <!--  -->

                  </div>
              </div>
              <!-- nav for small screen  -->
              <div class="nav_sm">
                  <div class="content">
                      <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                              aria-expanded="false">
                              <img class="logo" src="{% static "images/logo_menu.png"%}"/>
                          </button>
                          <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">
                                      <span>Following</span>
                                      <img src="{% static "images/add-friend.png"%}"/>
                                  </a>
                              </li>
                              <li><a class="dropdown-item" href="#">
                                      <span>Favorites</span>
                                      <img src="{% static "images/star.png"%}"/>
                                  </a>
                              </li>
                          </ul>
                      </div>
                      <div class="left">
                          <div class="search_bar">
                              <div class="input-group">
                                  <div class="form-outline">
                                      <div>
                                          <img src="{% static "images/search.png"%}"/ alt="search">
                                      </div>
                                      <input type="search" id="form1" class="form-control" placeholder="Search" />
                                  </div>
                              </div>
                          </div>
                          <div class="notifications notification_icon">
                              <a href="notification.html">
                                  <img src="{% static "images/love.png"%}"/>
                              </a>
                          </div>

                      </div>
                  </div>
              </div>

              <!-- nav for ex-small screen  -->
              <div class="nav_xm">
                  <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                          aria-expanded="false">
                          <img class="logo" src="{% static "images/logo_menu.png"%}"/>
                      </button>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">
                                  <span>Following</span>
                                  <img src="{% static "images/add-friend.png"%}"/>
                              </a></li>
                          <li><a class="dropdown-item" href="#">
                                  <span>Favorites</span>
                                  <img src="{% static "images/star.png"%}"/>
                              </a></li>
                      </ul>
                  </div>
                  <div class="left">

                      <img src="{% static "images/send.png"%}"/>
                      <a href="notification.html">
                          <img class="notification_icon" src="{% static "images/love.png"%}"/>
                      </a>

                  </div>
              </div>
          </div>
          <!-- menu in the botton for smal screen  -->
          <div class="nav_bottom">
              <a href="/"><img src="{% static "images/accueil.png" %}"/></a>
              <a href="{% url "explore" %}"><img src="{% static "images/compass.png" %}"/></a>
              <a href=" reels.html"><img src="{% static "images/video.png" %}"/></a>
              <a href="#" data-bs-toggle="modal" data-bs-target="#create_modal"><img src="{% static "images/tab.png" %}"/></a>
              <a href="{% url "profile" request.user%}">     
                      {% if profile.picture %}
                      <img class="circle story"  src="{{ profile.picture.url }}">
                    {% else %}
                      <img class="circle story"  src="{% static "images/user.png" %}">
                    {% endif %}
              </a>
          </div>
      </div>
      <!-- search  -->
      <div id="search" class="search_section" >
          <h2>Search</h2>
          <form method="GET" action="{% url 'home' %}">
              <input type="text" name="search" placeholder="Search users">
          </form>
          <div class="find">
              <div class="desc">
                  <h4>Recent</h4>
                  <p><a href="#">Clear all</a></p>
              </div>
              <div class="account">
                                      
                  {% if searched_users %}
                  {% for user in searched_users %}
                  <div class="cart">
                      <div>
                          <div class="img">
                              <a href="{% url 'profile' user.username %}">
                              {% if user.profile.picture %}
                                  <img src="{{ user.profile.picture.url }}" alt="{{ user.username }} profile picture">
                              {% else %}
                                  <img src="{% static 'images/user.png' %}" alt="Placeholder profile picture">
                              {% endif %}
                              </a>
                          </div>
                          <div class="info">
                              <p class="name">           
                                  {{ user.first_name }} {{ user.last_name }}
                              </p>
                              <p class="second_name">@{{ user.username }}</p>
                              <p>Followers: {{ user.follower_count }}</p>
                          </div>
                      </div>
                      <div class="clear">
                          <a href="#">X</a>
                      </div>
                  </div>
                  {% endfor %}
                  {% endif %}
              </div>
          </div>
      </div>
      <!-- search  -->
      <!-- notification -->
      <div id="notification" class="notification_section">
          {% if notifications %}
          <h2>Notifications</h2>

          <div class="notifications">
                        
         {% for notification in notifications %}
              {% if notification.notification_type == 3 %}
              <div class="notif follow_notif">
                  <div class="cart">
                      <div>
                          <div class="img">
                              {% if notification.sender.profile.picture %}
                              <img src="{{ notification.sender.profile.picture.url }}" alt="Placeholder image">
                            {% else %}
                              <img src="{% static "images/user.png" %}" alt="Placeholder image">
                          {% endif %}
                          </div>
                          <div class="info">
                              <p class="name">
                                  {{ notification.sender.profile.first_name }} {{ notification.sender.profile.last_name }}</strong> <small>@{{ notification.sender.username }}
                                  <span class="desc">started following you.</span>
                                  <span class="time">{{ notification.date|naturaltime }}</span>
                              </p>

                          </div>
                      </div>
                      <div class="follow_you">
                          <button class="follow_text">Follow</button>
                      </div>
                  </div>
              </div>
              {% endif %}
              {% comment %} <div class="notif follow_notif">
                  <div class="cart">
                      <div>
                          <div class="img">
                              <img src="./images/profile_img.jpg" alt="">
                          </div>
                          <div class="info">
                              <p class="name">
                                  Zineb_essoussi
                                  <span class="desc">started following you.</span>
                                  <span class="time">2h</span>
                              </p>

                          </div>
                      </div>
                      <div class="follow_you">
                          <button class="follow_text">Follow</button>
                      </div>
                  </div>
              </div> {% endcomment %}
              {% if notification.notification_type == 1 %}
              <div class="notif story_notif">
                  <div class="cart">
                      <div>
                          <div class="img">
                              {% if notification.sender.profile.picture %}
                              <img src="{{ notification.sender.profile.picture.url }}" alt="Placeholder image">
                            {% else %}
                              <img src="{% static "images/user.png" %}" alt="Placeholder image">
                          {% endif %}                            </div>
                          <div class="info">
                              <div class="info">
                                  <p class="name">
                                      {{ notification.sender.profile.first_name }} {{ notification.sender.profile.last_name }}</strong> <small>@{{ notification.sender.username }}
                                      <span class="desc">liked your Post.</span>
                                      <span class="time">{{ notification.date|naturaltime }}</span>
                                  </p>

                              </div>
                          </div>
                      </div>
                      <div class="story_like">
                          <img src="{{ notification.post.picture.url }}">                        </div>
                  </div>
              </div>
              {% endif %}

          {% endfor %}
          </div>
          {% endif %}
      </div>
      <!--***** nav menu end ****** -->


      
      <div class="box">
      <div id="message">
        <div class="message_container">
          <div class="persons">
            <div class="account_name">
              <p>{{profile.first_name}}   {{ profilelast_name}}</p>
              <p class="search">
                <a href="{% url 'usersearch' %}" >
                <img src="{% static "images/edit.png" %}" alt="edit" />
                </a>
              </p>
            </div>
            <div class="account_message">
              <div class="desc">
                <p>Messages</p>
                <p><a href="#">3 requests</a></p>
              </div>
              {% for message in messages %}

              <a class="{% if active_direct == message.user.username %}is-active{% endif %}" href="{% url 'directs' message.user.username %}">
              <div class="cart">
                <div>
                  <div class="img">
                    {% if message.user.profile.picture %}
                    <img src="{{ message.user.profile.picture.url }}" alt="Placeholder image">
                    {% else %}
                      <img src="{% static "images/user.png" %}" alt="Placeholder image">
                    {% endif %}                  
                 </div>
                  <di class="info">
                    <p class="name"> 
                      {{ message.user.profile.first_name }} {{ message.user.profile.last_name }}
                    </p>
                </div>
                <div class="content">
                  {% if message.unread %}
                  <p style="font-weight: bold; color: red;">
                       {{ message.unread }}
                  </p>
                  {% endif %}        
                </div>
              </div>
            </a>
            {% endfor %}
            </div>
          </div>

          <div class="message">

            <div class="options">
              <div class="cart">
                <div>
                  <div class="img">
                    {% if direct.sender.profile.picture %}
                    <img src="{{ direct.sender.profile.picture.url }}" alt="Placeholder image">
                    {% else %}
                      <img src="{% static "images/user.png" %}" alt="Placeholder image">
                    {% endif %}                   
                  </div>
                  <div class="info">
                    <p class="name">{{ direct.sender.profile.first_name }} {{ direct.sender.profile.last_name }}</p>
                  </div>
                </div>
              </div>
              <div class="other">
                <a href="#">
                  <img src="{% static "images/telephone.png" %}" alt="call" />
                </a>
                <a href="#">
                  <img src="{% static "images/video_call.png" %}" alt="video call" />
                </a>
              </div>
            </div>
            <div class=" messages">
            {% for direct in directs %}
            <div class="content ">
                {% if direct.sender == request.user %}
                    <div class="my_message">
                        <p class="p_message">{{ direct.body }} {{ direct.sender }}  - {{ direct.date|date:" H:i:s" }}</p>
                    </div>
                {% else %}
                    <div class="response_message">
                        <p class="p_message">{{ direct.body }} {{ direct.sender }}  - {{ direct.date|date:" H:i:s" }}</p>
                    </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>

          <form role="form" method="POST" action="{% url 'send_direct' %}">
               {% csrf_token %}
               <input type="hidden" name="to_user" value="{{ active_direct }}">

               <div class="message-form" >
              <input type="text"  name="body" placeholder="write your email" />
              <button><img src="{% static "images/send.png" %}"></button>
               </div>
            </form>
            
          </div>
        </div>
      </div>
  

      </div>
    </div>
  <!-- <script src="./sass/vender/bootstrap.bundle.js"></script>
    <script src="./sass/vender/bootstrap.bundle.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <script src="{% static "owlcarousel/jquery.min.js" %}"></script>
    <script src="{% static "owlcarousel/owl.carousel.min.js" %}"></script>
    <script src="{% static "js/carousel.js" %}"></script>
    <script src="{% static "js/init.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js"></script>
    <script src="{% static "js/main.js" %}"></script>